

@using Blazored.LocalStorage
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <Dropdown Color="DropdownColor.Secondary">
        <DropdownToggleButton>
            <i class="fas fa-user"></i> 
        </DropdownToggleButton>
        <DropdownMenu>
            <DropdownItem To="/login" Type="DropdownItemType.Link">Login</DropdownItem>
            <DropdownItem To="/register" Type="DropdownItemType.Link">Register</DropdownItem>
            <DropdownItem @onclick="CerrarSesion" Type="DropdownItemType.Button">Cerrar Sesión</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/carrito" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Carrito
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/polos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Polos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/camisas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Camisas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pantalones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pantalones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/casacas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Casacas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task CerrarSesion()
    {
        
        var response = await Http.PostAsync("https://jhiro.somee.com/api/Acceso/CerrarSesion", null);

        if (response.IsSuccessStatusCode)
        {
            
            await LocalStorage.RemoveItemAsync("authToken");

           
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            
            Console.WriteLine("Error al cerrar sesión.");
        }
    }
}
